<!doctylie html>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<title>Hello from Flask</title>

<body>
    <header class="header">
        <a href="/">
            <h4>Start A New Upload</h4>
        </a>
    </header>

    <section class="messages">
        <p>If messages exist, they will be displayed here.</p>
        {% with messages = get_flashed_messages() %}
            <ul class=flashes>
                {% if messages %}
                    {% for message in messages %}
                    <li class="message">{{ message }}</li>
                    {% endfor %}
                {% else %}
                    <li class="message">No messages to display.</li>
                </ul>
            {% endif %}
        {% endwith %}
    </section>

    <main id="main">
        {% block main %}{% endblock %}
    </main>
</body>